@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  font-family: kanit, sans-serif;
  
}
body{
  margin: 0;
  padding: 0;
}

nav .ul {
  justify-content: end;
}

.navbar {
  background-color: #01074f;
}

.top-menu {
  padding: 10px;
}

.carousel-item {
  height: 400px;
}

.box-top {
  margin-top: 100px;
}

.title {
  display: flex;
}

.title small {
  padding-top: 11px;
  margin-left: 5px;
}

hr.line {
  margin-top: 0px;
}

footer {
  background-color: #01074f;
  color: white;
  padding: 20px;
  margin-top: 20px;
}


